# ## 학습된 모델 및 체크포인트 ##
# saved_model 폴더와 그 안의 모든 파일을 무시합니다.
saved_model/
checkpoints/

# 확장자가 .pt, .pth인 모든 PyTorch 모델 파일을 무시합니다.
*.pt
*.pth


# ## 데이터셋 ##
# 대용량 데이터셋 폴더들을 무시합니다.
datasets/CIFAR100/
datasets/tiny-imagenet-200/

# 압축된 데이터셋 파일을 무시합니다.
*.tar.gz
*.zip


# ## 로그 및 기타 결과물 ##
logs/
wandb/


# ## 파이썬 캐시 및 가상환경 ##
__pycache__/
.venv/
venv/
*.py[cod]
*.egg-info/


# ## 민감 정보 ##
.env