# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/

*.pkl
*.pth
*.h5
*.ckpt
logs/
checkpoints/
data/
datasets/
*.npy
*.npz
models/
*.zip
*.tar.gz
*.jpg
*.png
*.jpeg

.env
.venv/
venv/

wandb/
evaluation_results/
result_analysis/
saved_model/

*.log
